Screen {
  layout: horizontal;
}

TodosList, Details {
  height: 100%;
  border: solid orange;
}

TodosList {
  width: 2fr;
}

Details {
  width: 3fr;
  overflow: auto;
}

Details #close {
  border: none;
}

Details #title {
  text-style: bold;
}

Details #due-date {
  color: grey;
}

Details #description {
  width: 100%;
  border-top: grey dashed;
}

TodosList TodoNode {
  width: 100%;
}
